#!/usr/bin/env bash

# This file is called from .xinitrc
# Start our X programs

dunst &                                         # Notification daemon
unclutter --timeout=1 &                         # Hide the moust pointer
xset r rate 300 50 &                            # speed up keyboard
setxkbmap se &                                  # set x keyboard mapping
numlockx &                                      # Lock the Numlock
[ -f ~/.config/backgrounds/wall.jpg ] && xwallpaper --zoom ~/.config/backgrounds/wall.jpg       # set the wallpaper image
picom &
udiskie &                                       # Automount USB disks
[[ $(acpi -a | awk -F ':' '{ print $2 }') == " off-line" ]] && xbacklight -set 85 || xbacklight -set 100 &
xautolock -corners --00 -time 5 -locker slock &
~/.config/polybar/launch.sh &
