! special
*.foreground:   #cfcd95
*.background:   #161616
*.cursorColor:  #cfcd95

! black
*.color0:       #151515
*.color8:       #696969

! red
*.color1:       #ff8eaf
*.color9:       #ed4c7a

! green
*.color2:       #a6e25f
*.color10:      #a6e179

! yellow
*.color3:       #f8e578
*.color11:      #ffdf6b

! blue
*.color4:       #a6e2f0
*.color12:      #79d2ff
 
! magenta
*.color5:       #e85b92
*.color13:      #bb5d79

! cyan
*.color6:       #5f868f
*.color14:      #87a8af

! white
*.color7:       #d5f1f2
*.color15:      #e2f1f6

! ------------------------------------------------------------------------------
! URxvt
! -----------------------------------------------------------------------------
URxvt*termName:		rxvt-unicode-256color
! URxvt*geometry:		240x84

URxvt*saveline: 	300000
URxvt.scrollBar:	false
URxvt*scrollstyle:	plain
URxvt.scrollBar_right:	false
URxvt*scrollWithBuffer:	true

URxvt*scrollTtyKeypress:true
URxvt*scrollTtyOutput:	false
URxvt*cursorBlink:	true
URxvt*cursorUnderline:	true
URxvt*cursorColor:	#F1F014

URxvt*pointerColor2:	#002B36
URxvt*fading:		35
URxvt*borderColor:	[68]#131520
!URxvt*borderLess:	true	
!URxvt*letterSpace:	0

URxvt.lineSpace:	1
URxvt.intensityStyles:	false
URxvt*colorUL:		#1a8cff
URxvt.url-launcher:	/usr/bin/firefox
URxvt*iso14755:		false

URxvt*depth:		32
! URxvt*background:	[90]#2b303b
URxvt*background:	[90]#000022
URxvt*scrollBar_right:	false
URxvt*internalBorder: 	0
URxvt*externalBorder: 	0
URxvt*letterSpace:	-1

URxvt.font:		xft:monospace:size=8
URxvt*boldFont:		xft:monospace:bold:size=8
URxvt*italicFont:	xft:monospace:italic:size=8
URxvt*boldItalicFont:	xft:monospace:bold:italic:size=8
URxvt*allow_bold: 	true

URxvt.perl-ext-common:	default,clipboard,url-select,keyboard-select,font-size,selection-to-clipboard
! URxvt.perl-ext-common:	default,tabbed,clipboard,url-select,keyboard-select

URxvt.copyCommand:	xclip -i -selection clipboard
! URxvt.pasteCommand:	xclip -o -selection clipboard

! Unbind builtin copy/paste
URxvt.C-M-c:		builtin-string:
URxvt.C-M-v:		builtin-string:

URxvt.keysym.C-Ins:	eval:selection_to_clipboard, clipboard:copy
!URxvt.keysym.C-Ins:	clipboard:copy

! URxvt.keysym.C-Ins:	clipboard:copy
! URxvt.keysym.S-Ins:	eval:selection_to_clipboard
URxvt.keysym.S-Ins:	clipboard:paste


! URxvt.keysym.m-c: 	clipboard:copy
! URxvt.keysym.m-v: 	clipboard:paste
URxvt.keysym.C-Up: 	font-size:increase
URxvt.keysym.C-Down: 	font-size:decrease


URxvt.keysym.Home:	\033[1~
URxvt.keysym.End:	\033[4~
URxvt.keysym.KP_Home:	\033[1~
URxvt.keysym.KP_End:	\033[4~

URxvt.insecure:		false
URxvt*visualBell:	false 

URxvt.urlLauncher:	exo-open
URxvt.underlineURLs:	true
URxvt.urlButton:	1

URxvt.tabbed.autohide:	yes
URxvt.tabbed.tabbar-fg:	10
URxvt.tabbed.tabbar-bg:	8
URxvt.tabbed.tab-fg:	6
URxvt.tabbed.tab-bg:	16
URxvt.tabbed.title:	yes
URxvt.tabbed.new-button:false

!URxvt*buffered:		false

! ------------------------------------------------------------------------------
! Rofi
! ------------------------------------------------------------------------------
rofi.font: DejaVu Sans Mono Book 16 
! rofi.color-window: #2b303b, #2b303b, #2b303b
! rofi.color-normal: #2b303b, #c0c5ce, #2b303b, #8fa1b3, #2b303b
rofi.separator-style: solid
rofi.terminal:		   urxvt 
rofi.ssh-client:           ssh
rofi.ssh-command:          {terminal} -e {ssh-client} {host}
rofi.padding:		400

rofi.fullscreen:	true
rofi.color-enabled: true

!			main background, border, 	underline
rofi.color-window: 	argb:e0000000, 	argb:aa000000, 	argb:aa000000 
!rofi.color-window: 	argb:002f342f, 	argb:32002b36, 	argb:00000000 

!			1st bg color	1st fg color	2nd bg color	selecct row bg	select row fg
rofi.color-normal: 	argb:00000000,	argb:900000ff,	argb:00000000,	argb:00000000,	argb:ff0000ff 
!rofi.color-normal: 	argb:002f342f, #f3f4ff, argb:002f342f, #657b83, #f3f4ff


rofi.color-active: 	argb:00000000,	argb:900000ff,	argb:00000000,	argb:00000000,	argb:ff0000ff 
!rofi.color-active: 	argb:ffff0000, 	argb:ffff0000, 	argb:ffff0000, 	argb:ffff0000,	argb:ffff0000
!rofi.color-active: 	argb:002f342f, #f3f4ff, argb:002f342f, #657b83, #f3f4ff

rofi.color-urgent: 	argb:00000000,	argb:900000ff,	argb:00000000,	argb:00000000,	argb:ff0000ff 
!rofi.color-urgent: 	argb:ffff0000, 	argb:ffff0000, 	argb:ffff0000, 	argb:ffff0000,	argb:ffff0000
!rofi.color-urgent: 	argb:002f342f, #dc322f, argb:002f342f, #657b83, #f3f4ff

! rofi.color-window: #2f342f, #002b36, #000000 
! rofi.color-normal: #2f342f, #f3f4ff, #2f342f, #657b83, #f3f4ff
! rofi.color-active: #2f342f, #f3f4ff, #2f342f, #657b83, #f3f4ff
! rofi.color-urgent: #2f342f, #dc322f, #2f342f, #657b83, #f3f4ff


rofi.lines: 15

